<div class="row">
  <div class="index-header">
    <h1 id="page-header">Q/A</h1>
    <div class="row">
      <div class="col-xs-4">
        <h4>Your Questions</h4>
        <h2>{{answerLogger.sessionQuestions}}</h2>
      </div>
      <div class="col-xs-4">
        <h4>Your Answers</h4>
        <h2>{{answerLogger.sessionAnswers}}</h2>
      </div>
      <div class="col-xs-4">
        <h4>Activity Score</h4>
        <h2>{{answerLogger.activityScore}}</h2>
      </div>
    </div>
  </div>
</div>
