<div class="container">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        {{#link-to 'index'}}<h2 class="navbar-brand">Q / A</h2>{{/link-to}}
      </div>
    </div>
  </nav>
{{outlet}}
</div>
